<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
  		<h1 class="title_type1">Unsubscribe Request Complete</h1>
  		<h3>We're sad to see you leave. You have successfuly unsubcribe.</h3>
		</div>
	</div>
</div>