
<div class="video-container">
	<%= video_tag("karuizawa.mp4", :style=>"width:100%;", :autoplay => true, :loop => true, :muted=> true ) %>
	<div class="video-headline">
		<h1>Share your bucket list<br>
		<strong>Tricket</strong></h1>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="home-background1">
			<div class="col-md-9">
				<div class="home-headline">
					<h1>Travelers</h1>
				</div>
				<div class="home-content">
					<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
					<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
					<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
					<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
				</div>
			</div>
			<div class="col-md-3">
				<h1><%= link_to "sign up", new_admin_registration_path, type_user: 0 %></h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="home-background2">
			<div class="col-md-9">
				<div class="home-headline">
					<h1>Locals</h1>
				</div>
				<div class="home-content">
					<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
					<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
					<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
					<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
				</div>
			</div>
			<div class="col-md-3">
				<h1><%= link_to "sign up", new_admin_registration_path, type_user: 1 %></h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="home-background3">
			<div class="col-md-12">
				<div class="home-headline">
					<h1>About</h1>
				</div>
				<div class="home-content">
					<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
					<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
					<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
					<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
				</div>
			</div>
		</div>
	</div>
</div>



