<!-- travelers用とlocals用必要 -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		<p>Travelers詳細</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<p>趣味以降？</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<p>Trickets一覧</p>
		</div>
	</div>
</div>

<!-- travelers用とlocals用必要 -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		<p>Locals詳細</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<p>趣味以降？</p>
		</div>
	</div>
</div>