<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		<p>Tricket詳細</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<p>本文</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<p>グループチャット入れる？</p>
		</div>
	</div>
</div>