  	<p><%= @user.name_last %> <%= @user.name_first %> 様</p>

	<p>この度は、お問い合わせありがとうございました。<br>
	お問い合わせの件下記にご回答申し上げます。</p>

	<p><%= @answer %></p>

	<p>今後とも「Tricket Japan」をよろしくお願いいたします。</p>
	<p>尚、このメールにはご返信いただけません。</p>