	<h2>Dear Mr./Ms.<%= @user.name_last %>,</h2>

	<p>Thank you for your inquiry.<br>
　	The following are answers to your questions.</p>

  	<p><%= @answer %></p>

  	<p>Thank you for your continued support.</p>
  	<p>Please do not reply to this email as this is a send-only address.</p>