<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		<p>Category</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<p>Title</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<p>User Name</p>
			<% if @post.post_image? %>
				<% if @post.post_image.file.content_type.include?('image/') %>
					<%= image_tag @post.post_image.post.url %>
				<% elsif @post.post_image.file.content_type.include?('video/') %>
				    <%= video_tag @post.post_image.url, width: "30%", height: "30%", 
                  controls: true, autobuffer: true %>
                <% end %>
            <% else %>
				<%= image_tag "/assets/default.jpg", :size => '400x300' %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<p>Discuss on this Tricket</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<p>Your Tricket had come true!! with</p>
		</div>
	</div>
</div>