<% if flash[:notice] %>
	<div id="flash">
		<%= flash[:notice] %>
	</div>
<% end %>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		<p>Trickets&Travelers</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<p>Most liked Trickets</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<p>Trickets</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<p>Travelers</p>
		</div>
	</div>
</div>