/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "bootstrap-sprockets";
@import 'font-awesome-sprockets';
@import 'font-awesome';

/*全体*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
strong{
  font-size: 40px;
}

/*headline全体*/
.title_type1 {
  padding: 0.25em 0.5em;
  background: transparent;
  border-left: solid 5px #165e83;
}
.title_type1_traveler {
  padding: 0.25em 0.5em;
  background: transparent;
  border-left: solid 5px #f8b500;
}
.title_type1_local {
  padding: 0.25em 0.5em;
  background: transparent;
  border-left: solid 5px #9e3d3f;
}

/*header user側*/
.nav-container{
	height: 50px;
	width: 100%;
	background-color: #165e83;
	position: fixed;
  top: 0;
  z-index: 20;

  img{
    width: 35px;
    height: 35px;
    border-radius: 35px;
  }
  #brand{
  	float: left;
    margin: 0 20px 0 10px;
  	color: white;
  	font-family: Times New Roman;
  	font-size: 35px;
      text-decoration: none;
  }
  .nav-button-home{
    float: right;
    font-size: 20px;
    line-height: 50px;
    margin: 0 20px ;
    color: white;
    background-color: #165e83;
    text-decoration: none;
  }
  #login_space {
    width: 200px;
    margin: 12px 5px 7px 15px;
    display: inline-block;
    float: left;
  }
  #login_button {
    width: 50px;
    border-radius: 5px;
    margin: 15px 15px 9px 7px;
    display: inline-block;
    float: left;
    color: white;
    border: none;
    background-color: #c77eb5;
  }
  .nav-lists{
  	float: right;
  	width: 600px;
  }
  .nav-button{
    font-size: 20px;
    line-height: 50px;
    margin: 0 10px ;
  	color: white;
	  background-color: #165e83;
    text-decoration: none;
  }
}

/*header admin側*/
.nav-container-admin{
  height: 50px;
  width: 100%;
  background-color: #7BAA17;
  position: fixed;
  top: 0;
  z-index: 20;

  #brand_admin{
    float: left;
    margin: 0 20px 0 10px;
    color: white;
    font-family: Times New Roman;
    font-size: 35px;
    text-decoration: none;
  }
  .nav-lists-admin{
    float: right;
    width: 500px;
  }
  .nav-button-admin{
    font-size: 20px;
    line-height: 50px;
    margin: 0 10px ;
    color: white;
    background-color: #7BAA17;
    text-decoration: none;
  }
}

/*space*/
.space-top{
	height: 50px;
	display: block;
	top: 0;
}
.space-bottom{
	height: 50px;
	display: block;
	bottom: 0;
}

/*footer*/
#footer_user{
	height: 50px;
	width: 100%;
	background-color: #165e83;
  text-align: center;
  color: white;
	position: fixed;
  bottom: 0;
  z-index: 20;
}
#footer_admin{
  height: 50px;
  width: 100%;
  background-color: #7BAA17;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  z-index: 20;
}