// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Tricket topページ*/
.Trickets-top-background1{
	width: 100%;
	height: 400px;
	background-image: image-url(scenery_garden.jpg);
	color: white;
	background-size: cover;

		h1{
		margin: 0;
		}
}
.Trickets-top-content{
	width: 50%;
	height: 100px;
	float: left;
}
.search-form-tag{
	margin: 10px;
	height: 40px;
	float: left;
}

/*Tricket indexページ*/
.Trickets-index-content{
	width: 50%;
	height: 100px;
	float: left;
}
.Trickets-index-background1{
	width: 100%;
	height: 400px;
	background-image: url(spring_sakura3.jpg);
	background-size: cover;
	color: black;

		h1{
		margin: 0;
		}
}

/*Tricket showページ*/
.category{
	width: 100%;
	height: 50px;
	margin-top: 20px;
}
.title{
	text-align: center;
}
.user_info-left{
	float: right;
}
.user_info-middle{
	float: right;
}
.user_info-right{
	float: right;
}
.comments-form{
	height: 100px;
}

/*facebook*/
#sosyal {
    margin: 50px auto;
}
.facebook {
	background-color: #2e4a88;
	box-shadow: 0 4px 0 #1B3D82;
	text-shadow: 0 -1px -1px #1B3D82;

	display: inline;
	position: relative;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 5px;
	padding: 14px 10px;
}
.facebook:hover {
	background-color: #354F84;
}
.facebook:active {
	top: 2px;
	box-shadow: 0 2px 0 #1B3D82;
}

