// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Tricket topページ*/
.Trickets-top-background1{
	width: 100%;
	height: 400px;
	background-image: image-url("scenery_garden.jpg");
	color: white;
	background-size: cover;

	h1{
		margin: 0;
	}
}
.Trickets-top-content{
	width: 50%;
	height: 100px;
	float: left;

	.Trickets-top-user-image img{
    width: 85px;
    height: 80px;
    border-radius: 50px;
	}
}
.search-form-tag{
	margin: 10px;
	height: 40px;
	float: left;
}

/*Tricket indexページ*/
.Trickets-index-content{
	width: 50%;
	height: 100px;
	float: left;

	.Trickets-top-user-image img{
    width: 85px;
    height: 80px;
    border-radius: 50px;
	}
}
.Trickets-index-background1{
	width: 100%;
	height: 400px;
	background-image: image-url("spring_sakura3.jpg");
	background-size: cover;
	color: black;

	h1{
		margin: 0;
	}
}

/*Tricket showページ*/
.category{
	width: 100%;
	height: 50px;
	margin-top: 20px;
}
.title{
	text-align: center;
}
.user_info-left{
	float: right;

 	img{
    width: 85px;
    height: 80px;
    border-radius: 50px;
  }
}
.user_info-middle{
	float: right;
}
.user_info-right{
	float: right;
}
.Tricket-post-image img{
  width: 100%;
  height: 100%;
}
.comments-form{
	height: 100px;
}

/*facebook*/
#sosyal {
  margin: 50px auto;
}
.facebook {
	background-color: #2e4a88;
	box-shadow: 0 4px 0 #1B3D82;
	text-shadow: 0 -1px -1px #1B3D82;

	display: inline;
	position: relative;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 5px;
	padding: 14px 10px;
}
.facebook:hover {
	background-color: #354F84;
}
.facebook:active {
	top: 2px;
	box-shadow: 0 2px 0 #1B3D82;
}

/*photosページ*/
.photo-content{
	margin: 0 auto;
	width: 1010px;
	padding: 10px;
}
.photo-items:hover{
	box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
	transform: translateY(-10px);
	transition-duration: 0.5s;
}
.photo-items{
	position: relative;
	width: 330px;
	height: 230px;
	float:left;
	background-color: #EFE9E7;

  img{
		width: 330px;
	  height: 230px;
	}
	.photo-text {
	  position: absolute;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  height: 50px;
	  background-color: #000;
	  color: white;
	  font-weight: bold;
	  text-align: center;
	  opacity: 0.8;
	  display: none;

	  img{
	   	width: 50px;
	   	height: 50px;
	   	border-radius: 50px;
	  }
	}
}
.video-items:hover{
	box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
	transform: translateY(-10px);
	transition-duration: 0.5s;
}
.video-items{
	width: 330px;
	height: 230px;
	float:left;
	background-color: #EFE9E7;

	.video-text{
	  width: 100%;
	  height: 50px;
	  margin-top: -55px;
	  background-color: #000;
	  color: white;
	  font-weight: bold;
	  text-align: center;
	  opacity: 0.8;
		display: none;

	  img{
	   	width: 50px;
	   	height: 50px;
	   	border-radius: 50px;
	  }
	}
}

