// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*topページ*/
.video-container{
	position: relative;
	z-index: 1;
	background-color: #EFE9D1;

	.video-headline{
		position: absolute;
		z-index: 2;
		top: 0;
	 	width: 100%;
	 	text-align: center;
	 	margin-top: 175px;
	 	color: white;

	 	h1{
	 		font-size: 60px;
	 		line-height: 80px;
	 	}
	}
}
.home-content{
	padding-left: 50px;
}


/*showページ*/
.background{
	width: 100%;
	opacity: 0.5;
	z-index: 1;
}
.user-headline{
	width: 100%;
	margin-left: 20px;
	z-index: 10;
	position: absolute;
	top: 45px;
}
.user-headline-left{
	width: 55%;
	float:left;
	margin-top: 125px;
}
.user-headline-image{
	width: 15%;
	float:left;
}
.user-headline-right{
	width: 30%;
	float:left;
}
.user-content{
	width: 100%;
}
.user-Tricket-content{
	width: 50%;
	height: 100px;
	float: left;
}


/*favoriteページ*/
.background{
	width: 100%;
	opacity: 0.5;
	z-index: 1;
	height: 250px;
}
.favorite-users{
	width: 20%;
	float: left;
}
.favorite-Tricket-content{
	width: 50%;
	height: 100px;
	float: left;
}


/*index_travelersページ*/
.travelers-index-background1{
	width: 100%;
	height: 400px;
	background-image: url(autumn_leaf.jpg);
	background-size: cover;
	color: white;
		h1{
		margin: 0;
		}
}
.travelers-index-items{
	width: 20%;
	float: left;
}

/*index_localsページ*/
.locals-index-background1{
	width: 100%;
	height: 400px;
	background-image: url(summer_yukata.jpg);
	background-size: cover;
	color: white;
		h1{
		margin: 0;
		}
}
.locals-populer-content{
	height: 420px;
}
.locals-index-items{
	width: 20%;
	float: left;
}


